/* 
    Css file for the popup menus.
    Author: Ryan
    Date: 11.16.18
*/
/* 
    Generic Styles
*/
/* All divs with an id of window */
div#window {
    /* Sets the background color to a gray */
    background-color: rgb(170, 169, 169);
    /* Sets the z-index to 1 so it is ontop of everything. */
    z-index: 1;
    /* Position of absolute so that it can move around. */
    position: absolute;
    /* Sets the default position to the cetner */
    top: 50%;
    left: 50%;
    /* Makes the point in which the menu is moved by top and left the center. (Uses progressive enhancement) */
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* Sets the width along with what the minimum would be. */
    width: 45%;
    min-width: 300px;
    user-select: none;
}

/* The button in the div with an id of window. */
div#window button#closePop {
    /* Puts the button in the top right corner. */
    position: absolute;
    right: 0;
    top: 0;
}

/* The paragraph in the div with an id of window. */
div#window p {
    /* A margin of 5 pixels all the way around the paragraph */
    margin: 5px;
    /* Text color of white */
    color: white;
    /* Sets the left margin to 10 pixels */
    margin-left: 10px;
    /* Indents the paragraph */
    text-indent: 1em;
    /* Sets the bottom margin */
    margin-bottom: 20px;
}

div#window h1 {
    /* Sets the text color to white. */
    color: white;
    text-align: center;
}

div#windowheader {
    /* Makes the header span completly across the menu. */
    width: 100%;
    /* Sets the background color to gray */
    background-color: gray;
    /* Removes any spacing from the top. */
    margin-top: 0;
}

div#windowheader p {
    /* Removes any spacing from the top */
    margin-top: 0;
}

div#windowheader:hover {
    cursor: grab;
}

div#window div.but {
    margin-bottom: 10px;
}